@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* background-image: linear-gradient(to right, #f5f0f9, #fff7fc, #fdf7f7); */
  /* background: linear-gradient(135deg, #faf2da 0%, #f3d9d2 100%);

  color:indianred */

}
/* body {
  background-image: linear-gradient(to right, #D1D5DB, #6B7280);
} */
 .thankyou {
  
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-style: normal;
  
 }
.heading {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.logofont  {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.dancing-script-logo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-style: normal;
}
